<?xml version="1.0"?>
<model>
    <name>Cenário 2 - Missão 2</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>

    <author>
        <name>Felipeee</name>
        <email></email>
    </author>

    <description>
        Cenário 2 para missão 2 da IMAV 2021
    </description>


</model>