<?xml version="1.0"?>

<model>
  <name>base_land</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Gabriel Chollet</name>
    <email>bielchollet@gmail.com</email>
  </author>

  <description>
    Item for unit testing of base land detection.
  </description>

</model>