<?xml version="1.0" ?>
<model>
    <name>iris_rs_odometry</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Emanuel Iwanow de Araujo</name>
        <email>emanueldearaujo123@usp.br</email>
    </author>
    <description>Iris that simulates the odometry data send by the t265 reasense camera</description>
</model>
