<?xml version="1.0"?>
<model>
    <name>Cenário 3 - Missão 2</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>

    <author>
        <name></name>
        Felipe Namour
        <email></email>
    </author>

    <description>
        Cenário 3 para a segunda missão indoor da IMAV 2020
    </description>
</model>