<?xml version="1.0"?>

<model>
  <name>coast_base</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Gabriel Chollet</name>
    <email>bielchollet@gmail.com</email>
  </author>

  <description>
    Item for unit testing of coastal base detection.
  </description>

</model>