<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find px4)/launch/mavros_posix_sitl.launch">
        <arg name="vehicle" value="iris"/>
        <arg name="sdf" value="$(find simulation)/models/iris_greenhouse/model.sdf"/>
        <arg name="world" value="$(find simulation)/worlds/greenhouse.world" />
        <arg name="x" value="0.2"/>
        <arg name="y" value="-16"/>
        <arg name="z" value="1"/>
        <arg name="Y" value="1.57"/>
    </include>
</launch>


