<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find px4)/launch/mavros_posix_sitl.launch">
        <arg name="vehicle" value="iris"/>
        <arg name="sdf" value="$(find simulation)/models/iris_lidar_downward/model.sdf"/>
        <arg name="world" value="$(find simulation)/worlds/outdoor_imav2020.world" />
        <arg name="x" value="66"/>
        <arg name="y" value="13"/>
        <arg name="z" value="12"/>
    </include>
</launch>
