<?xml version="1.0"?>
<launch>
    <include file="$(find px4)/launch/mavros_posix_sitl.launch">
        <arg name="vehicle" value="iris"/>
        <arg name="sdf" value="$(find simulation)/models/drone_indoor/model.sdf"/>
        <arg name="world" value="$(find simulation)/worlds/throw.world" />
        <arg name="z" value="30.5"/>
    </include>
</launch>